<!-- <app-session13>
  <p #par class="info">hello info</p>
  <p id="success">hello success</p>
</app-session13>
<button (click)="onContentChange()">click me</button> -->



 <!-- <app-session14>
  <p #par class="info">hello info</p>
  <p id="success">hello success</p>
</app-session14>
<button (click)="onContentChange()">click me</button>  -->


<app-session15 [user]= "user"></app-session15>

<select>
  <ng-container *ngFor="let user of users">
    <ng-container *ngIf="user.age >=30">
      <option [value]="user">{{user.name}}</option>
    </ng-container>
  </ng-container>
</select>