<!-- <app-session13>
  <p #par class="info">hello info</p>
  <p id="success">hello success</p>
</app-session13>
<button (click)="onContentChange()">click me</button> -->

 <!-- <app-session14>
  <p #par class="info">hello info</p>
  <p id="success">hello success</p>
</app-session14>
<button (click)="onContentChange()">click me</button>  -->


<!-- <app-session15 [user]= "user"></app-session15>
<select>
  <ng-container *ngFor="let user of users">
    <ng-container *ngIf="user.age >=30">
      <option [value]="user">{{user.name}}</option>
    </ng-container>
  </ng-container>
</select> -->


<!-- <app-session16></app-session16> -->

<!-- <p class="alert alert-success" style="text-align: center;">We are in Home component</p>
<input type="text" (input)="onChange($event)">
<button (click)="log()" class="btn btn-primary">Log In Console</button>

<app-session17></app-session17> -->

<!-- <app-session18></app-session18> -->

<!-- <ul>
  <li> <a [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>users</a> </li>
  <li> <a  [routerLink]="['/session19']" routerLinkActive="active">session19</a></li>
</ul> -->


<!-- 
<ul>
  <li><a routerLink='/session21' routerLinkActive="active">session21</a></li>
</ul>-->

<router-outlet></router-outlet> 
